/*banner栏父标签*/
div.header-banner {
    margin-bottom: 10px;
    margin-top: -16px;
    min-height: 280px;
    padding-top: 80px;
    background: #5e5e5e;
    color:#FFF
}

/*banner位*/
div.banner-content {
    font-size: 222%;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

/*banner子标签h1*/
div.banner-content h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*banner子标签h4*/
div.banner-content h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*日历与图表*/
div#two {
    margin-left: 12em;
    margin-top: 4em
}

/*日历*/
div#calendar {
    float:left;
    border:1px dashed #000
}

/*图表*/
div#container {
    float:left;
    margin-left: 12em;
    height: 26em;
    min-width: 40em;
    max-width: 50em;
}

/*热门博客*/
div#hot {
    margin-left: 8em;
}

/*博客分类统计*/
div.hot-data {
    text-align: center;
    padding-bottom: 3em;
    margin-top: 4em;
    margin-right: 4em;
}

/*博客分类统计标题*/
div.hot-data h4{
    text-align:left;
    border-bottom: 1px solid #c4d3d4;
    padding-bottom: 5px;
}

/*博客分类统计博客标题*/
div.hot-data li{
    text-align:left;
}