{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    李文君的个人博客
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'calendar.css' %}">
    <link rel="stylesheet" href="{% static 'hexahedr.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <div class="header-banner">
        <div class="banner-content">
            <h1>LeeVJun的Blog</h1>
            <h4>个人原创博客</h4>
        </div>
    </div>
    {#  旋转六面体  #}
    <div id="page_begin_html">
    <!--添加立方体-->
    <a name="top"></a>
    <!--PageBeginHtml Block Begin-->
    <!--旋转正方体 start-->
    <div class="wrap">
        <!--包裹所有元素的容器-->
        <div class="cube">
            <!--前面图片 -->
            <div class="out_front">
                <img src="/static/img/six/max_01.png" class="pic">
            </div>
            <!--后面图片 -->
            <div class="out_back">
                <img src="/static/img/six/max_02.png" class="pic">
            </div>
            <!--左面图片 -->
            <div class="out_left">
                <img src="/static/img/six/max_03.png" class="pic">
            </div>
            <!--右面图片 -->
            <div class="out_right">
                <img src="/static/img/six/max_04.png" class="pic">
            </div>
            <!--上面图片 -->
            <div class="out_top">
                <img src="/static/img/six/max_05.png" class="pic">
            </div>
            <!--下面图片 -->
            <div class="out_bottom">
                <img src="/static/img/six/max_06.png" class="pic">
            </div>

            <!--小正方体 -->
            <span class="in_front">
                    <img src="/static/img/six/min_01.png" class="in_pic">
                </span>
            <span class="in_back">
                     <img src="/static/img/six/min_02.png" class="in_pic">
                </span>
            <span class="in_left">
                    <img src="/static/img/six/min_03.png" class="in_pic">
                </span>
            <span class="in_right">
                    <img src="/static/img/six/min_04.png" class="in_pic">
                </span>
            <span class="in_top">
                    <img src="/static/img/six/min_05.png" class="in_pic">
                </span>
            <span class="in_bottom">
                    <img src="/static/img/six/min_06.png" class="in_pic">
                </span>
        </div>
    </div>
    </div>
    {# 日历&统计 #}
    <div id="two">
        <!-- 日历 DOM -->
        <div id="calendar" class="col-xs-6 col-sm-4">
            <div class="title">
                <h1 class="green" id="calendar-title">Month</h1>
                <h2 class="green" id="calendar-year">Year</h2>
                <a href="" id="pre"></a>
                <a href="" id="next"></a>
            </div>
            <div class="body">
            <div class="lightgrey body-list">
                <ul>
                    <li>SUN</li>
                    <li>MON</li>
                    <li>TUE</li>
                    <li>WED</li>
                    <li>THU</li>
                    <li>FRI</li>
                    <li>SAT</li>
                </ul>
            </div>
            <div class="darkgrey body-list">
                <ul id="days">
                </ul>
            </div>
        </div>
        </div>
        <!-- 图表容器 DOM -->
        <div id="container" class="col-xs-6 col-sm-4"></div>
    </div>
    <!--  热门博客 -->
    <div id="hot">
        <div class="col-xs-4 col-sm-4">
            <div class="hot-data">
                <h4>今天热门博客</h4>
                <ul>
                    {% for hot_data in today_hot_data %}
                        <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>({{ hot_data.read_num }})</li>
                    {% empty %}
                        <li>今天没有热门博客</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4">
            <div class="hot-data">
                <h4>昨天热门博客</h4>
                <ul>
                    {% for hot_data in yesterday_hot_data %}
                        <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>({{ hot_data.read_num }})</li>
                    {% empty %}
                        <li>昨天没有热门博客</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4">
            <div class="hot-data">
                <h4>7天热门博客</h4>
                <ul>
                    {% for hot_blog in hot_blogs_for_7_days %}
                        <li><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>({{ hot_blog.read_num_sum }})</li>
                    {% empty %}
                        <li>前7天没有热门博客</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {# 统计图表 #}
    <script>
        // 图表配置
        var options = {
            chart: { type: 'line' },
            title: { text: null },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement: 'on',
                title: { text: '前7日阅读量变化'},
            },
            yAxis: {
                title: { text: null },
                labels:{ enabled: false },
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                     // 数据列名
                data: {{ read_nums }}               // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: { enabled: false },
            credits: { enabled: false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
    {# 日历配置 #}
    <script type="text/javascript">
        var month_olypic = [31,29,31,30,31,30,31,31,30,31,30,31];//闰年每个月份的天数
        var month_normal = [31,28,31,30,31,30,31,31,30,31,30,31];
        var month_name =["January","Febrary","March","April","May","June","July","Auguest","September","October","November","December"];
        //获取以上各个部分的id
        var holder = document.getElementById("days");
        var prev = document.getElementById("prev");
        var next = document.getElementById("next");
        var ctitle = document.getElementById("calendar-title");
        var cyear = document.getElementById("calendar-year");
        //获取当天的年月日
        var my_date = new Date();
        var my_year = my_date.getFullYear();//获取年份
        var my_month = my_date.getMonth(); //获取月份，一月份的下标为0
        var my_day = my_date.getDate();//获取当前日期

        //根据年月获取当月第一天是周几
        function dayStart(month,year){
            var tmpDate = new Date(year, month, 1);
            return (tmpDate.getDay());
        }
        //根据年份判断某月有多少天(11,2018),表示2018年12月
        function daysMonth(month, year){
            var tmp1 = year % 4;
            var tmp2 = year % 100;
            var tmp3 = year % 400;

            if((tmp1 == 0 && tmp2 != 0) || (tmp3 == 0)){
                return (month_olypic[month]);//闰年
            }else{
                return (month_normal[month]);//非闰年
            }
        }
        //js实现str插入li+class,不要忘了用innerhtml进行插入
        function refreshDate(){
            var str = "";
            //计算当月的天数和每月第一天都是周几，day_month和day_year都从上面获得
            var totalDay = daysMonth(my_month,my_year);
            var firstDay = dayStart(my_month, my_year);
            //添加每个月的空白部分
            for(var i = 0; i < firstDay; i++){
                str += "<li>"+"</li>";
            }

            //从一号开始添加知道totalDay，并为pre，next和当天添加样式
            var myclass;
            for(var i = 1; i <= totalDay; i++){
                //三种情况年份小，年分相等月份小，年月相等，天数小
                //点击pre和next之后，my_month和my_year会发生变化，将其与现在的直接获取的再进行比较
                //i与my_day进行比较,pre和next变化时，my_day是不变的
                console.log(my_year+" "+my_month+" "+my_day);
                console.log(my_date.getFullYear()+" "+my_date.getMonth()+" "+my_date.getDay());
                if((my_year < my_date.getFullYear())||(my_year == my_date.getFullYear() && my_month < my_date.getMonth()) || (my_year == my_date.getFullYear() && my_month == my_date.getMonth() && i < my_day)){
                    myclass = " class='lightgrey'";
                }else if(my_year == my_date.getFullYear() && my_month == my_date.getMonth() && i == my_day){
                    myclass = "class = 'green greenbox'";
                }else{
                    myclass = "class = 'darkgrey'";
                }
                str += "<li "+myclass+">"+i+"</li>";
            }
            holder.innerHTML = str;
            ctitle.innerHTML = month_name[my_month];
            cyear.innerHTML = my_year;
        }
        //调用refreshDate()函数，日历才会出现
        refreshDate();
        //实现onclick向前或向后移动
        pre.onclick = function(e){
            e.preventDefault();
            my_month--;
            if(my_month < 0){
                my_year--;
                my_month = 11; //即12月份
            }
            refreshDate();
        }

        next.onclick = function(e){
            e.preventDefault();
            my_month++;
            if(my_month > 11){
                my_month = 0;
                my_year++;
            }
            refreshDate();
        }
    </script>
    {# 下拉框 #}
    <script type="text/javascript">
            function DropDown(el) {
                this.dd = el;
                this.initEvents();
            }
            DropDown.prototype = {
                initEvents : function() {
                    var obj = this;
                    obj.dd.on('click', function(event){
                        $(this).toggleClass('active');
                        event.stopPropagation();
                    });
                }
            }
            $(function() {
                var dd = new DropDown( $('#dd') );
                $(document).click(function() {
                    // all dropdowns
                    $('.wrapper-dropdown-5').removeClass('active');
                });
            });
        </script>
</body>
</html>
{% endblock %}



